* {
    margin: 0;
    padding: 0;
}


.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-color:rgb(255, 255, 255);
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;   
    float: left;
    height: 70px;
}
 
.logo {
    color: lightskyblue;
    font-size: 3spx;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


ul li a:hover {
    color: orange;
}

.content{
    text-align: center;
    padding-top: 30px;
    font-size:x-large;
}
.content h6{
    padding-top: 10px;
    font-size:medium;
}
.image{
    float: right;
    padding-right: 37%;
}
.content2{
    text-align: center;
    padding-top: 20%;
    font-weight: bolder;
}
.content2 label{
    padding-right: 6%;
}
.content2 input{
    border-radius: 100px;
}
.content3{
    text-align: center;
    padding-top:20px;
    font-weight: bolder;
}
.content3 input{
    border-radius: 100px;
}
.content3 label{
    padding-right:2%;
}

.btn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition:0.4s ease;
    margin-left: 40%;
}
.btn:hover{
    background: white;
    color:orange;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

