* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background:bisque;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.main2 {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.main3 {
    width: 200px;   
    float: left;
    height: 70px;
}
.logo {
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    transition: .3 ease-in-out;
}
.logo:hover{
    color: black;
}
.m {
    width: 400px;
    float: left;
    height: 70px;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: orange;
}

.content h1{
    padding-top:15%;
    padding-left: 5%;
    font-size: 100px;

}
.content .co{
    padding-left: 5%;
}
.content .btn{
    transition: 0.1 ease-in-out;
    background-color: yellow;
    font-size: 25;
    cursor: pointer;
}

.content .btn:hover{
    background-color: orange;
}

.img{
    float: right;
    padding-right: 10%;
}

footer{
    background-color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-style: double;
    border-width: 5px;
}

