* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    background:bisque;
    background-position: center;
    background-size: cover;
    height:190vh;
}
.main2 {
    width: 1200px;
    height: 75px;
    margin: auto;
}
.main3 {
    width: 200px;   
    float: left;
    height: 70px;
}
.logo {
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    transition: .3 ease-in-out;
}
.logo:hover{
    color: black;
}
.m {
    width: 400px;
    float: left;
    height: 70px;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: orange;
}

.content {
    padding-top: 10%;
}
.content h2 {
    text-align: center;
    text-decoration: double underline;
    font-weight: bold;
}
.content p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.content2 h2 {
    padding-top: 10%;
    width: 1200;
}
.img{
    float:right;
    padding-top: 30%;
    padding-right: 10px;
}
.content3 h2{
    width: 730;
}
.content4 h2{
    width: 1200;
}
footer{
    background-color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-style: double;
    border-width: 5px;
}
